:root {
	--primary-color: #202020; /* #55ff00; */
	--secondary-color: #e0e0e0; /* #180018; */ /* #b7b7b7; */
}

body {
	margin: 0;
	overflow: hidden;
	background-color: var(--secondary-color);
	animation-name: intro-background-color;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
}

a {
	text-decoration: none;
}

main {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
}

section {
	background-color: rgba(var(--primary-color-raw), .975);
	color: var(--secondary-color);
	text-align: center;
	box-sizing: border-box;
	padding: 1rem;
	opacity: .25;
}

section.section--active {
	opacity: 1;
}

#orb-stamp-container {
	position: absolute;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	filter: drop-shadow(0 0 0.5rem var(--primary-color));
}

#orb-stamp {
	width: 25%;
	max-width: 80px;
	animation-name: intro-orb-stamp;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
}

#pvdk-stamp {
	max-height: 40px;
	position: absolute;
	left: 0.5rem;
	bottom: 0.5rem;
	animation-name: intro-pvdk-stamp;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	filter: drop-shadow(0 0 0.25rem var(--primary-color));
}

@keyframes intro-background-color {
	from {
		background-color: #000000; /* #ffffff; */
	}
}

@keyframes intro-orb-stamp {
	from {
		opacity: 0;
		transform: translate(0, 4rem) rotate(-360deg);
	}
}

@keyframes intro-pvdk-stamp {
	from {
		opacity: 0;
		transform: translate(0, 4rem);
	}
}
