@import url('../root.css');

.nav__toggle {
	position: fixed;
	z-index: 1;
	top: 0.5rem;
	left: 0.5rem;
	background: none;
	cursor: pointer;
	border-style: none;
	text-align: center;
	font-size: 2rem;
	color: var(--green-color-l1);
	transition: scale 0.25s;
}

.nav__toggle:active {
	scale: 1.25;
}

.pf-menu {
	display: inline-block;
}

.pf-close {
	display: none;
}

.nav__toggle--open {
	color: var(--green-color-s1);
}

.nav__toggle--open .pf-menu {
	display: none;
}

.nav__toggle--open .pf-close {
	display: inline-block;
}

.nav {
	height: 100vh;
	width: 100vw;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: var(--green-color-s2-a80);
	backdrop-filter: blur(5px) grayscale(1);
	color: var(--green-color-l1);

	opacity: 0;
	translate: -100vw;
	transition:
		opacity 0.5s,
		translate 0.5s;
}

.nav--open {
	opacity: 1;
	translate: 0;
}

.home__link {
	position: relative;
	top: -4rem;
	height: 0;
	font-size: 2rem;
	cursor: default;
	opacity: 0.1;
	transition: opacity 0.5s;
}

.home__link--active {
	cursor: pointer;
	opacity: 1;
}

.nav__list {
	display: flex;
	flex-flow: column;
	overflow-y: auto;
	gap: 1rem;
	padding: 0;
	list-style: none;
	font-weight: 900;
}

.nav__link::before {
	content: '_ ';
	opacity: 0;
}

.nav__link:hover::before,
.nav__link:focus::before {
	opacity: 1;
}

.nav__link--active::before {
	content: '> ';
	opacity: 1;
}

.nav__link:hover {
	text-decoration: none;
}

@media (min-width: 768px) {
	.nav__toggle {
		display: none;
	}

	.nav {
		height: fit-content;
		max-width: 960px;
		margin: auto;
		background-color: unset;
		backdrop-filter: unset;
		color: var(--green-color-s2);
		flex-flow: row;
		justify-content: space-between;
		padding: 0 1rem;
		translate: 0;
		opacity: 1;
	}

	.home__link {
		position: initial;
		height: initial;
	}

	.nav__list {
		flex-flow: row;
	}
}
