@import url('../root.css');

#alivepro {
	background-color: var(--primary-color);
	fill: var(--secondary-color);
	transition:
		background-color 0.5s,
		fill 0.5s;
}

#alivepro:hover {
	--logo-background-color: #444488;
	--logo-fill-color: #f8f8f8;

	background-color: var(--logo-background-color);
	fill: var(--logo-fill-color);
}