@import url('../root.css');

#alivepro {
	background-color: var(--green-color-s2);
	fill: var(--green-color-l1);
	transition:
		background-color 0.5s,
		fill 0.5s;
}

#alivepro:hover,
.experiencia-profissional__item:focus-within #alivepro {
	--logo-background-color: #444488;
	--logo-fill-color: #f8f8f8;

	background-color: var(--logo-background-color);
	fill: var(--logo-fill-color);
}
