@import url('../root.css');

.alura__svg {
	background-color: var(--green-color-s2);
	fill: var(--green-color-l1);
	transition:
		background-color 0.5s,
		fill 0.5s;
}

.alura__svg:hover,
.formacao__complementar__item:focus-within .alura__svg {
	--logo-background-color: #051d3b;
	--logo-fill-color: #f8f8f8;

	background-color: var(--logo-background-color);
	fill: var(--logo-fill-color);
}
