@import url('../root.css');

.pucpr__logo {
	background-color: var(--primary-color);
	fill: var(--secondary-color);
	stroke: var(--secondary-color);
	transition:
		background-color 0.5s,
		fill 0.5s,
		stroke 0.5s;
}

.pucpr__logo:hover,
.formacao__item:focus-within .pucpr__logo {
	--logo-background-color: #c00415;
	--logo-fill-color: #f8f8f8;

	background-color: var(--logo-background-color);
	fill: var(--logo-fill-color);
	stroke: var(--logo-fill-color);
}
