@import url('../root.css');

#sinqia {
	background-color: var(--green-color-s2);
	fill: var(--green-color-l1);
	transition:
		background-color 0.5s,
		fill 0.5s;
}

#sinqia:hover,
.experiencia-profissional__item:focus-within #sinqia {
	--logo-background-color: #ff5500;
	--logo-fill-color: #f8f8f8;

	background-color: var(--logo-background-color);
	fill: var(--logo-fill-color);
}
