:root {
	--primary-color-raw: 224, 224, 224; /* 32, 32, 32; */ /* #55ff00; */
	--secondary-color-raw: 32, 32, 32; /* 224, 224, 224; */ /* #180018; */ /* #b7b7b7; */

	--primary-color: rgb(var(--primary-color-raw));
	--secondary-color: rgb(var(--secondary-color-raw));

	--primary-font: 'Consolas', monospace;
}
