@import url('../root.css');

.section__sobre-mim {
	display: grid;
	grid-template-areas:
		'title'
		'foto-profile'
		'bio'
		'social-medias';
	justify-items: center;
}

.section__profile-image__frame {
	min-height: 64px;
	max-height: 128px;
	height: 100%;
	border-radius: 50%;
	aspect-ratio: 1;
	filter: drop-shadow(0 0 2px #000000);
	transition: transform 0.5s ease-in-out;
	grid-area: foto-profile;
}

.section__profile-image__frame::before {
	background-color: var(--secondary-color);
	mix-blend-mode: hard-light;
	content: '';
	height: 100%;
	border-radius: 50%;
	aspect-ratio: 1;
	opacity: 0.5;
	position: absolute;
	left: 0;
	transition: opacity 0.5s ease-in-out;
}

.section__profile-image {
	height: 100%;
	border-radius: 50%;
	aspect-ratio: 1;
}

.section__profile-image__frame:hover,
.section__profile-image__frame:focus-within {
	transform: scale(1.05);
}

.section__profile-image__frame:hover::before,
.section__profile-image__frame:focus-within::before {
	opacity: 0;
}

.section__sobre-mim__content {
	overflow-y: auto;
	min-height: 190px;
	padding: 0 1rem;
	margin-top: 1.5rem;
	grid-area: bio;
}

.section__sobre-mim__social-medias {
	display: flex;
	gap: 1rem;
	list-style: none;
	padding: 0;
	margin-top: 1.5rem;
	font-size: 0.75rem;
	grid-area: social-medias;
}

.section__sobre-mim__social-medias i {
	font-size: 1.5rem;
	vertical-align: middle;
}

@media (min-width: 768px) {
	.section__sobre-mim {
		grid-template-rows: repeat(3, min-content) 1fr;
		grid-template-areas:
			'foto-profile title'
			'foto-profile bio'
			'social-medias bio'
			'. bio';
	}

	.section__profile-image {
		align-self: center;
	}

	.section__sobre-mim__content {
		margin-top: 0;
	}

	.section__sobre-mim__social-medias {
		flex-direction: column;
		gap: 0.25rem;
		margin: 1rem 0px;
	}
}
