@import url('../root.css');

.section {
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;

	scroll-snap-align: start;

	color: var(--primary-color);
}

.section__content {
	width: 100%;
	max-width: 960px;
	height: 100%;

	margin: auto;
	padding: 2rem;
	overflow: auto;
	text-align: center;

	color: var(--secondary-color);
	background-color: rgba(var(--primary-color-raw), 0.8);
	backdrop-filter: blur(5px);
}

.section__sobre-mim {
	display: grid;
	grid-template-areas:
		"title"
		"foto-profile"
		"bio"
		"social-medias"
	;
	justify-items: center;
}

.section__title {
	font-size: 2rem;
	margin-bottom: 1.5rem;
	grid-area: title;
}

.section__profile-image {
	min-height: 64px;
    max-height: 128px;
    height: 100%;
	border-radius: 50%;
	filter: drop-shadow(0 0 2px #000000);
	grid-area: foto-profile;
}

.section__sobre-mim__content {
	overflow-y: auto;
	min-height: 190px;
	padding: 0 1rem;
	margin-top: 1.5rem;
	grid-area: bio;
}

.section__sobre-mim__social-medias {
	display: flex;
	gap: 1rem;
	list-style: none;
	padding: 0;
	margin-top: 1.5rem;
	font-size: 0.75rem;
	grid-area: social-medias;
}

.section__sobre-mim__social-medias i {
	font-size: 1.5rem;
	vertical-align: middle;
}

.social-media__link {
	text-decoration: none;
}

.social-media__link:hover {
	text-decoration: underline;
}

.social-media__link:hover i.pf-linkedin {
	color: #0a66c2;
}

.social-media__link--linkedin:hover {
	text-decoration-color: #0a66c2;
}

.social-media__link:hover i.pf-github {
	color: #6e5494;
}

.social-media__link--github:hover {
	text-decoration-color: #6e5494;
}

.section__paragraph {
	text-align: left;
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.section__title {
		justify-self: left;
		padding: 0 1rem;
	}

	.section__content {
		height: fit-content;
		min-height: 50%;
		max-height: 95%;
		margin: 5% 5% auto;
		clip-path: polygon(
			0 0, calc(100% - 4rem) 0, 
			100% 4rem, 100% 100%, 
			4rem 100%, 0 calc(100% - 4rem)
		);
	}

	.section__sobre-mim {
		grid-auto-rows: min-content min-content min-content 1fr;
		grid-template-areas:
			"foto-profile title"
			"foto-profile bio"
			"social-medias bio"
			". bio"
		;
	}
	
	.section__sobre-mim__content {
		margin-top: 0;
	}

	.section__sobre-mim__social-medias {
		flex-direction: column;
		gap: 0.25rem;
	}
}