@import url('../root.css');

.section__experiencia-profissional {
	display: grid;
	grid-template-areas:
		'title'
		'companies';
	justify-items: center;
}

.section__experiencia-profissional__content {
	overflow-y: auto;
	min-height: 190px;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	grid-area: companies;
}

.experiencia-profissional__item {
	text-align: left;
	display: grid;
	grid-template-areas:
		'companie'
		'role'
		'period'
		'resume';
	gap: 0.5rem;
	padding: 1rem;
	position: relative;
}

.experiencia-profissional__item:before {
	--cut-size: 0.5rem;
	--border-size: 1px;

	content: '';
	position: absolute;
	inset: 0;
	background-color: var(--primary-color);
	clip-path: polygon(
		0 0,
		100% 0,
		100% calc(100% - var(--cut-size) * 2),
		calc(100% - var(--cut-size) * 2) 100%,
		0 100%,
		0 0,
		var(--border-size) var(--border-size),
		var(--border-size) calc(100% - var(--border-size)),
		calc(100% - var(--cut-size) * 2 - var(--border-size) * 0.41421) calc(100% - var(--border-size)),
		calc(100% - var(--border-size)) calc(100% - var(--cut-size) * 2 - var(--border-size) * 0.41421),
		calc(100% - var(--border-size)) var(--border-size),
		var(--border-size) var(--border-size)
	);
}

.experiencia-profissional__empresa {
	grid-area: companie;
}

.experiencia-profissional__empresa__logo {
	width: 100%;
	height: 4rem;
	background-color: var(--primary-color);
	transition: background-color 0.75s;
}

.experiencia-profissional__cargo {
	font-weight: bold;
	font-size: 1.1em;
	grid-area: role;
}

.experiencia-profissional__periodo {
	font-style: italic;
	font-size: 0.9em;
	grid-area: period;
}

.experiencia-profissional__resumo {
	grid-area: resume;
}

@media (min-width: 768px) {
	.experiencia-profissional__item {
		grid-template-rows: auto 1fr;
		grid-template-areas:
			'companie role period'
			'companie resume resume';
		column-gap: 1.5rem;
	}

	.experiencia-profissional__empresa {
		align-self: center;
	}

	.experiencia-profissional__empresa__logo {
		height: 128px;
		border-radius: 50%;
		aspect-ratio: 1;
		box-shadow: inset 0 0 4px #000000;
		transition: box-shadow 0.5s;
	}

	.experiencia-profissional__empresa__logo:hover,
	.experiencia-profissional__item:focus-within .experiencia-profissional__empresa__logo {
		box-shadow: inset 0 0 8px #000000;
	}

	.experiencia-profissional__periodo {
		text-align: right;
	}
}
