@import url('../root.css');

.section {
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;

	scroll-snap-align: start;

	color: var(--primary-color);
}

.section__content {
	width: 100%;
	max-width: 960px;
	height: 100%;

	margin: auto;
	padding: 2rem;
	overflow: auto;
	text-align: center;

	color: var(--secondary-color);
	background-color: rgba(var(--primary-color-raw), 0.8);
	backdrop-filter: blur(5px);
}

.section__title {
	font-size: 2rem;
	margin-bottom: 1.5rem;
	grid-area: title;
}

.section__subtitle {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
	grid-area: subtitle;
}

.section__paragraph {
	text-align: left;
	margin-bottom: 1rem;
}

@media (min-width: 768px) {

	.section__title {
		justify-self: left;
		padding: 0 1rem;
	}

	.section__subtitle {
		justify-self: left;
		padding: 0 1rem;
	}

	.section__content {
		height: fit-content;
		max-height: 95%;
		margin: 5% 5% auto;
		clip-path: polygon(0 0, calc(100% - 4rem) 0,
				100% 4rem, 100% 100%,
				4rem 100%, 0 calc(100% - 4rem));
	}

}