@font-face {
	src: url('pvdk_font.woff2') format('woff');
	font-family: 'pvdk_font';
}

*[class^='pf-'] {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: pvdk_font, monospace;
}

.pf-menu:before {
	content: '\e000';
}

.pf-close:before {
	content: '\e001';
}

.pf-circle:before {
	content: '\e002';
}

.pf-orb:before {
	content: '\e003';
}

.pf-filter:before {
	content: '\e004';
}

.pf-redirect:before {
	content: '\e005';
}

.pf-mail:before {
	content: '\e100';
}

.pf-whatsapp:before {
	content: '\e101';
}

.pf-linkedin:before {
	content: '\e102';
}

.pf-github:before {
	content: '\e103';
}
